[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "casimir"]
	path = casimir
	url = https://github.com/deutsche-nationalbibliothek/casimir
